body {
  background-color: bisque;
}

.container {
  padding: 50px;
  text-align: center;
}

h1 { 
  font-size: 40px;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  border: 3px solid black;
  padding: 10px;
  margin: 50px;
}

/* .recipe-img {
  flex-shrink: 5;
} 

.recipe-img img {
  width: 100%;
} */

.recipe-container > * {
  flex: 1;
}

img {
  width: 100%; 
  height: auto;
}

.recipe-container > .recipe-description {
  flex-grow: 2;
  margin: 0px 50px;
}

.recipe-title {
  font-size: 2rem;
}

@media (max-width: 750px) {
  .recipe-img {
    width: 20%;
  }
}
